
@{
    Layout = null;
}

<h3>Tab lo</h3>

<br/>

<table>
    <tr>
        <td>ID</td>
        <td>Adı</td>
        <td>Açıklama</td>
        <td>Durum</td>

    </tr>
    <tr>
        <td>1</td>
        <td>Adı</td>
        <td>açıklama</td>
        <td>true</td>
    </tr>
</table>



